*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid{
  display: flex;
flex-wrap: wrap;
gap:1%;
row-gap: 10px;
padding: 1%;
}
.grid > div{
  flex:1;
  min-width: 32%;
}
@media screen and (max-width: 750px) {
 .grid > div{
  min-width: 48%;
}
}
@media screen and (max-width: 450px) {
 .grid > div{
  min-width: 100%;
}
}